<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ForumDiscussion</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignOut</display-name>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>controller.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>controller.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTopic</display-name>
    <servlet-name>AddTopic</servlet-name>
    <servlet-class>controller.AddTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTopic</servlet-name>
    <url-pattern>/AddTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTopics</display-name>
    <servlet-name>ListTopics</servlet-name>
    <servlet-class>controller.ListTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTopics</servlet-name>
    <url-pattern>/ListTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTopics</display-name>
    <servlet-name>UserTopics</servlet-name>
    <servlet-class>controller.UserTopics</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTopics</servlet-name>
    <url-pattern>/UserTopics</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>controller.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopicDetails</display-name>
    <servlet-name>TopicDetails</servlet-name>
    <servlet-class>controller.TopicDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopicDetails</servlet-name>
    <url-pattern>/TopicDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComment</display-name>
    <servlet-name>AddComment</servlet-name>
    <servlet-class>controller.AddComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComment</servlet-name>
    <url-pattern>/AddComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTopic</display-name>
    <servlet-name>UpdateTopic</servlet-name>
    <servlet-class>controller.UpdateTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTopic</servlet-name>
    <url-pattern>/UpdateTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTopic</display-name>
    <servlet-name>EditTopic</servlet-name>
    <servlet-class>controller.EditTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTopic</servlet-name>
    <url-pattern>/EditTopic</url-pattern>
  </servlet-mapping>
</web-app>